body {
    font-family: 'Wire One', sans-serif;
    font-family: 'Fenix', serif;
    background-color: rgb(235, 235, 235);
}

h2, p, .readme-wrapper {
    text-align: center;
}

h2 {
    display: inline-block;
}

.image {
    width: 2.5em;
    height: 2.5em;
    background-color: cadetblue;
    display: inline-block;
    position: relative;
    margin: 0.5em;
    top: 1.2em;
    border-radius: 0.5em;
}

.title-center {
    text-align: center;
    /* display: inline-block; */
    position: relative;
    margin: auto;
}

a {
   text-decoration: none;
   color: black;
}

.boxes {
    display: block;
    margin: 1em;
    padding: 2em;
    border: solid;
    border-radius: 2em;
    width: 25%;
}

a:hover {
    font-weight: bold;
    color: burlywood
}

.p-text {
    font-weight: bold;
    color: rgb(27, 28, 129);
}

#boxOne {
    background-color: #D9DBF1;
    position: relative;
}

#boxTwo {
    background-color: #D0CDD7;
}

#boxThree {
    background-color: #ACB0BD;
}

#boxFour {
    background-color: #416165;
    display: inline-block
}

.list-box {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 2em;
    width: 25%;
    margin: 1em;
}

.top-text, 
.btm-text {
    margin-left: 1.25em;
}

.top-text {
    color: midnightblue;
}

.btm-text {
    color:lightcoral;
}

#show1 {
    color: #0B132B;
}

#show2 {
    color: #1C2541;
}

#show3 {
    color: #3A506B;
}

#show4 {
    color: #5BC0BE;
}

#show5 {
    color: #8CABBE;
}

#Friend1 {
    color: rgb(57, 26, 230);
}

#Friend2 {
    color: #C4CAD0;
}

#Friend3 {
    color: #878C8F;
}

#Friend4 {
    color: #A4969B;
}

#Friend5 {
    color: #655560;
}

#Place1 {
    color: #381D2A;
}

#Place2 {
    color: #3E6990;
}

#Place3 {
    color: #AABD8C;
}

#Place4 {
    color: #F39B6D;
}

#Place5 {
    color: #BACDB0;
}

#Food1 {
    color: #C14953;
}

#Food2 {
    color: #70566D;
}

#Food3 {
    color: #764248;
}

#Food4 {
    color: #785589;
}

#Food5 {
    color: #558B6E;
}